.shareBtn {
    transition: background-color 0.2s ease-in, color 0.2s ease-in,
        border-color 0.2s ease-in;
}
.shareBtn:hover {
    background-color: var(--chakra-colors-secondary) !important;
    color: #fff !important;
    border-color: #fff !important;
}

.slider {
    width: 50%;
}

@media screen and (max-width: 48em) {
    .slider {
        width: 100%;
    }
}

.slick-dots {
    display: flex !important;
    bottom: -135px !important;

    & > li {
        width: auto !important;
        height: 100% !important;
        margin: 0 20px 0 0 !important;
    }

    & > li > img {
        width: 120px;
    }

    & > li.slick-active {
        border: 1px solid var(--chakra-colors-secondary);
    }
}

.product-tab {
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 1.2em !important;
    letter-spacing: 0.5px;
    font-family: var(--chakra-fonts-heading);
}

.product-tab:focus {
    box-shadow: none !important;
}
