.css-xu4e61 {
    background: var(--chakra-colors-secondary) !important;
    color: #fff;
}

.flex-form {
    display: flex;
    align-items: center;

    & > label {
        width: 50%;
    }
}

.css-4bxqfv,
.css-avy531 {
    width: 95%;
}
